<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>

<h1>student create</h1>
<form method="POST" th:action="@{/student/create}" th:object="${student}">
    <label>name <input type="text" th:field="${student.name}" /></label> <br />
    <label>registration <input type="text" th:field="${student.registration}" /></label> <br />
    <input type="submit" value="Register">
</form>

<!--/*@thymesVar id="student" type="br.edu.ifpb.pweb2.pederneira.model.Student"*/-->
</body>
</html>