<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read</title>
</head>
<body>

<h1>student read</h1>
<div th:object="${student}">
    id: <span th:text="${student.id}"></span> <br />
    name: <span th:text="${student.name}"></span> <br />
    registration: <span th:text="${student.registration}"></span> <br />
    <button th:action="@{'/student/delete/' + ${student.id}}">Delete</button>
</div>

<!--/*@thymesVar id="student" type="br.edu.ifpb.pweb2.pederneira.model.Student"*/-->
</body>
</html>