<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read all</title>
</head>
<body>

<h1>declaration read all</h1>
<div th:each="declaration : ${declarations}">
    id: <span th:text="${declaration.id}"></span> <br />
    receptionDate: <span th:text="${declaration.receptionDate}"></span> <br />
    observation: <span th:text="${declaration.observation}"></span> <br />
    <br />
</div>

<!--/*@thymesVar id="declarations" type="java.util.List"*/-->
<!--/*@thymesVar id="declaration" type="br.edu.ifpb.pweb2.pederneira.model.Declaration"*/-->
</body>
</html>