<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read all</title>
</head>
<body>

<h1>enrollment read all</h1>
<div th:each="enrollment : ${enrollments}">
    id: <span th:text="${enrollment.id}"></span> <br />
    receptionDate: <span th:text="${enrollment.receptionDate}"></span> <br />
    observation: <span th:text="${enrollment.observation}"></span> <br />
    <br />
</div>

<!--/*@thymesVar id="enrollments" type="java.util.List"*/-->
<!--/*@thymesVar id="enrollment" type="br.edu.ifpb.pweb2.pederneira.model.Enrollment"*/-->
</body>
</html>