<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read</title>
</head>
<body>

<h1>enrollment read</h1>
<div th:object="${enrollment}">
    id: <span th:text="${enrollment.id}"></span> <br />
    receptionDate: <span th:text="${enrollment.receptionDate}"></span> <br />
    observation: <span th:text="${enrollment.observation}"></span> <br />
    <button th:action="@{'/enrollment/delete/' + ${enrollment.id}}">Delete</button>
</div>

<!--/*@thymesVar id="enrollment" type="br.edu.ifpb.pweb2.pederneira.model.Enrollment"*/-->
</body>
</html>