<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>

<h1>semester create</h1>
<form th:method="post" th:action="@{/semester/create}" th:object="${semester}">
<!--    <input type="hidden" th:field="${semester.id}" />-->
<!--    <input type="hidden" th:field="${semester.institution.semesters}" />-->
<!--    <input type="hidden" th:field="${semester.institution.currentSemester}" />-->
<!--    <input type="hidden" th:field="${semester.institution.name}" />-->
<!--    <input type="hidden" th:field="${semester.institution.acronym}" />-->
<!--    <input type="hidden" th:field="${semester.institution.phone}" />-->
    <label>year <input type="text" th:field="${semester.year}" /></label> <br />
    <label>semester <input type="text" th:field="${semester.semester}" /></label> <br />
    <label>start <input type="text" th:field="${semester.start}" /></label> <br />
    <label>end <input type="text" th:field="${semester.end}" /></label> <br />
    <label>institution id <input type="number" th:field="${semester.institution.id}" /></label> <br />
    <input type="submit" value="Register">
</form>

<!--/*@thymesVar id="semester" type="br.edu.ifpb.pweb2.pederneira.model.Semester"*/-->
</body>
</html>