<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read all</title>
</head>
<body>

<h1>semester read all</h1>
<div th:each="semester : ${semesters}">
    year: <span th:text="${semester.year}"></span> <br />
    semester: <span th:text="${semester.semester}"></span> <br />
    start: <span th:text="${semester.start}"></span> <br />
    end: <span th:text="${semester.end}"></span> <br />
    <br />
</div>

<!--/*@thymesVar id="semesters" type="java.util.List"*/-->
<!--/*@thymesVar id="semester" type="br.edu.ifpb.pweb2.pederneira.model.Semester"*/-->
</body>
</html>