<main th:fragment="form(title, mainButtonAction, inputGroup)"
      class="w-100 h-100 d-flex align-items-center justify-content-center position-absolute">
    <form class="w-25 bg-light text-dark border border-secondary rounded justify-content-center p-2">
        <h3 th:text="${title}" class="text-center"></h3>

        <div th:insert="~{fragments/inputs/entities :: ${inputGroup}}"></div>

        <div class="d-flex align-items-center justify-content-between gap-5 mt-4">
            <a th:href="@{/home}" type="submit" class="btn btn-secondary w-50">Cancelar</a>
            <button th:text="${mainButtonAction}" type="submit" class="btn btn-success w-50"></button>
        </div>
    </form>
</main>
