<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>

<h1>institution create</h1>
<form th:method="post" th:action="@{/institution/create}" th:object="${institution}">
    <label>name <input type="text" th:field="${institution.name}" /></label> <br />
    <label>acronym <input type="text" th:field="${institution.acronym}" /></label> <br />
    <label>phone <input type="tel" th:field="${institution.phone}" /></label> <br />
    <input type="submit" value="Register">
</form>

<!--/*@thymesVar id="institution" type="br.edu.ifpb.pweb2.pederneira.model.Institution"*/-->
</body>
</html>