<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read</title>
</head>
<body>

<h1>institution read</h1>
<div th:object="${institution}">
    id: <span th:text="${institution.id}"></span> <br />
    name: <span th:text="${institution.name}"></span> <br />
    acronym: <span th:text="${institution.acronym}"></span> <br />
    phone: <span th:text="${institution.phone}"></span>
    <button th:action="@{'/institution/delete/' + ${institution.id}}">Delete</button>
</div>

<!--/*@thymesVar id="institution" type="br.edu.ifpb.pweb2.pederneira.model.Institution"*/-->
</body>
</html>