<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>

<h1>institution update</h1>
<form th:method="put" th:action="@{'/institution/update/' + ${institution.id}}" th:object="${institution}">
    <label>name  <input type="text" th:field="${institution.name}" /></label> <br />
    <label>acronym <input type="text" th:field="${institution.acronym}" /></label> <br />
    <label>phone <input type="tel" th:field="${institution.phone}" /></label> <br />
    <label>current semester id <input type="number" th:field="${institution.currentSemester.id}" /></label> <br />
    <input type="submit" value="Register">
</form>

<!--/*@thymesVar id="institution" type="br.edu.ifpb.pweb2.pederneira.model.Institution"*/-->
</body>
</html>